<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MindBowser</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="cursor:pointer;"><a><span class="glyphicon glyphicon-user"></span>{{userData.firstName}}&nbsp;{{userData.lastName}}</a> </li>
      <li style="cursor:pointer;"><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
  
</nav>